{% extends '../base.html' %}
{% block title %}
    Блог | {{ category }}
{% endblock title %}

{% block content %}
{% if paginator.count > 0 %}
    {% for post in object_list %}
        {% include './containers/posts/shortended_post.html' %}
    {% endfor %}
    {% include './block/paginator.html' %}
{% else %}
    {% include './containers/mix/containers/category/empty_category_post.html' %}
{% endif %}

    {% include './block/link_footer.html' with link='./about' name='Подробнее о категории'%}
{% endblock content %}
