{% extends './block/post_container.html' %}

{% block post_body %}
    <div class="card-body text-white">
        <h2>{{ post.title }}</h2>
        <p>Автор поста: <a class="link-secondary" href="/profile/{{ post.author.id }}"><b>{{ post.author }}</b></a></p>
        <p>{{ post.body }}</p>
        <a href="{% url 'post_detail' post.pk %}">
            <button type="button" class="btn btn-primary">Подробнее</button>
        </a>
    </div>
{% endblock post_body %}

<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">begin</span>
                </a>
            </li>   {% endif %}

        {% for n in page_obj.paginator.page_range %}
            {% if page_obj.number == n %}
                <li class="page-item active">
                    <span class="page-link">{{ n }}<span class="sr-only">(current)</span></span>
                </li>
            {% elif n > page_obj.number|add:'-3' and n < page_obj.number|add:'3' %}
                <li class="page-item"><a class="page-link" href="?page={{ n }}">{{ n }}</a></li>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">end</span>
                </a>
            </li>
        {% endif %}
    </ul>
</nav>