<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Блог Унитаза</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Переключатель навигации">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link {% if active_tab_name == 'home_page' %}active{% endif %}" aria-current="page"
                           href="/">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if active_tab_name == 'about_page' %}active{% endif %}" href="/about">О
                            блоге Унитаза</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Разделы блога
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% for object in category_list_undivided %}
                                <li><a class="dropdown-item" href="/category/{{ object.slug }}">{{ object.name }}</a>
                                </li>
                            {% endfor %}
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            {% for object in category_list_divided %}
                                <li><a class="dropdown-item" href="/category/{{ object.slug }}">{{ object.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </div>

            <form class="d-flex" action="/">
                <input class="form-control me-2" type="search" placeholder="Введите запрос" aria-label="Search"
                       name="q">
                <button class="btn btn-outline-success" type="submit">Найти</button>
            </form>
        </div>
    </nav>
</header>
