{% extends '../base.html' %}

{% block title %}
    Блог | Регистрация
{% endblock title %}

{% block content %}
    <!--Login-->
    <div class="container py-5">
        <h1>Login</h1>
        <form method="POST">
            {% csrf_token %}
            {{ login_form }}
            <button class="btn btn-primary" type="submit">Login</button>
        </form>
        <div class="container-fluid" style="padding-top: 5%">
            <div class="bg-image card shadow-1-strong" style="padding-top: 1%">
                <p class="text-center">Don't have an account? <a href="/register">Create an account</a>.</p>
            </div>
        </div>
    </div>
{% endblock content %}